<div id="rankCard" class="card text-center container mt-5 p-0">
  <div class="card-header">
      <h2>Credit</h2> <!-- name -->
  </div>
  <div id="infoSummoner" class="card-body row">
      <div class="col-1"></div>
      <div class="col-4"> <!-- Pour les RANKED_SOLO_5x5 -->
          <h4>Adrien</h4>
          <h5>LAFOSSE</h5> <!-- tier rank -->
      </div>
      <div class="col-2"></div>
      <div class="col-4"> <!-- Pour les RANKED_FLEX_SR -->
          <h4>Jeremy</h4>
          <h5>VALENTIN-RANC</h5> <!-- tier rank -->
      </div>
      <div class="col-1"></div>
  </div>
</div>
