<div id="rankCard" class="card text-center container mt-5 p-0">
  <div class="card-header">
      <h2>{{this.search.name}}</h2> <!-- name -->
      <p>Level</p> <!-- lvl -->
  </div>
  <div id="infoSummoner" class="card-body row">
      <div class="col-1">
      </div>
      <div class="col-4"> <!-- Pour les RANKED_SOLO_5x5 -->
          <div id="rankCard" class="card text-center container mt-5 p-0">
              <div class="card-header">
                  <h4>Ranked Solo</h4>
              </div>
              <div id="infoSummoner" class="card-body">
                  <h6>Master</h6> <!-- Ranks -->
                  <img src="Ranks/Master.png" alt="Ranks"/> <!-- RanksIcon -->
                  <h6>WinRate : 75%</h6> <!-- Win rate -->
                  <p>150:50</p> <!-- Wins Losses -->
              </div>
          </div>
      </div>
      <div class="col-2">
      </div>
      <div class="col-4"> <!-- Pour les RANKED_FLEX_SR -->
          <div id="rankCard" class="card text-center container mt-5 p-0">
              <div class="card-header">
                  <h4>Ranked Flex</h4>
              </div>
              <div id="infoSummoner" class="card-body">
                  <h6>Iron</h6> <!-- Ranks -->
                  <img src="Ranks/Iron.png" alt="Ranks"/> <!-- RanksIcon -->
                  <h6>WinRate : 67%</h6> <!-- Win rate -->
                  <p>200:100</p> <!-- Wins Losses -->
              </div>
          </div>
      </div>
      <div class="col-1">
      </div>

  </div>
</div>
